
<link rel="stylesheet" href="reviews.css">


<div class="container">
    <% reviews.forEach(review=>{ %>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title"><%= review.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= review.position %></h6>
                </div>
                <div>
                    <p style="font-size: larger;font-style: bolder; color:rgb(0, 2, 5);"><%= new Date().toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="card-text"><strong>Employee ID:</strong> <%= review.id %></p>
                        <p class="card-text"><strong>Department:</strong> <%= review.department %></p>
                        <p class="card-text"><strong>Performance Goals:</strong> <%= review.performanceGoals %></p>
                        <p class="card-text"><strong>Task Completion:</strong> <%= review.taskCompletion %></p>
                        <p class="card-text"><strong>Skills and Competencies:</strong> <%= review.skillsAndCompetencies %></p>
                        <p class="card-text"><strong>Attendance:</strong> <%= review.attendance %></p>
                        <p class="card-text"><strong>Feedback:</strong> <%= review.feedback %></p>
                        <p class="card-text"><strong>Training and Development:</strong> <%= review.trainingAndDevelopment %></p>
                        <p class="card-text"><strong>Overall Rating:</strong> <%= review.overallRating %></p>
                    </div>
                    <div style="width: 150px;margin:2rem; height: 200px; border: 2px solid rgb(5, 139, 248);">
                        <img src="<%= review.photo %>" alt="Employee Photo" style="width: 100%; height: 100%;">
                    </div>
                </div>
                <div class="buttons">
                    <a href="/delete-review/<%= review.id %>" class ="btn btn-danger" style="color:white;font-weight:600; margin-top:0.5rem">  Delete </a> 
                    <a href="/update-review/<%= review.id %>" class ="btn btn-warning" style="color:white;font-weight:600; margin-top:0.5rem"> Update </a>
                    <a href="/employee/<%= review.id %>" class="btn btn-success" style="color:white;font-weight:600; margin-top:0.5rem">Submit Review</a>
                </div> 
            </div>
        </div>
    <% }) %>
</div>




    