
<table class="table table-dark">
    <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Task Assigned</th>
                    <th scope="col">Task Completed</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Feedback</th>
                </tr>
    </thead>
    <tbody>
        <% reviews.forEach(review=>{ %>
            <tr>
                        <th><%= review.id %></th>
                        <td><%= review.name %></td>
                        <td><%= review.goalsSet %> </td>
                        <td><%= review.goalsAch %></td>
                        <td><%= review.rating%></td>
                        <td><%= review.feedback%></td>
            </tr>
        <% }) %>           
    </tbody>
</table>
    